.footIcons {
  padding-top: 0.5%;
  background-color: #d1afd3;
  text-align: center;
}
.foot {
  font-size: 19px;
  color: #ffffff;
  padding-top: 0.3%;
  background-color: #d1afd3;
  text-align: center;
  padding-bottom: 1%;
}
p {
  margin-top: 0.5%;
}
